body {
  margin: auto;
  padding: 0 1em;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul ul {
  padding-left: 20px;
  font-size: 0.95em;
}
li .anchorjs-link {
  margin-left: -2em !important;
}

@media (min-width: 768px) {
  body {
    max-width: 70em;
  }
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 18em;
    overflow-y: scroll;
    padding-top: 20px;
  }
  nav ul ul {
    padding-left: 15px;
  }
  .tocheader {
    display: none;
  }
  header, main {
    margin-left: 20em;
  }
  footer {
    text-align: center;
    margin-top: 4em;
  }
}
